body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 105%; 
    line-height: 1.8;
    color: #333;
    background-color: #ffffff;
}

main {
    /* max-width: 1200px; */
    width: 100%;
    /* padding: 20px 0; */
    /* margin: 0px auto; */
}

.content {
    display: none;
}

.content.active {
    display: block;
}

section{
    margin-top: 0em;
    margin-bottom: 2em;
    padding: 0;
}
.subsection{
    width: 80%;
    margin: 0px auto;
    max-width: 50em;
}

#main-nav {
    position: fixed;
    top: 3rem;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(209, 240, 222);
    width: 95%;
    padding: 0.3em;
    border-radius: 2px;
    height: 3em;
    z-index: 20;    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#main-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

#main-nav li {
    margin: 0 0.2em;
}

#main-nav a {
    text-decoration: none;
    color: #333;
    font-weight: normal;
    padding: 0.8em 1em;
    border-radius: 2px;
    transition: all 0.3s ease;
}

#main-nav a:hover, #main-nav a.active {
    background-color: #f1f8ff;
    color: rgb(86, 0, 112);
    font-size: 104%;
}

.hero-image {
    background-size: cover;
    background-position: center;
}

.image-inicio {
    height: 500px; 
    background-image: url('images/unisucre.jpg');
}
.image-comite {
    height: 400px; 
    background-image: url('images/integrantes3.jpg');
}
.image-conferencias {
    height: 500px; 
    background-image: url('images/evento7.jpg');
}
.image-cursillo {
    height: 500px; 
    background-image: url('images/evento8.jpg');
}
.image-ponencia {
    height: 500px; 
    background-image: url('images/evento9_1.jpg');
}
.image-inscripciones {
    height: 500px; 
    background-image: url('images/evento12_1.jpg');
}

.image-anteriores {
    height: 500px; 
    background-image: url('images/evento2.jpg');
}

/* .image-conferencias {

} */

header {
    position: relative;
}

.header-content {
    position: sticky;
    top: 5em;
    font-size: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    align-items: flex-start;
    padding: 1em;
}

@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
        align-items: center;
    }

    .main-title {
        max-width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .ecard {
        width: 100%;
        max-width: 300px;
    }
}

.regresiva {
    text-align: center;
    padding: 1rem;
    max-width: 100%;
    grid-column: 1 / 4;
}

.flipdown {
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):before,
.flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):after {
    background-color: #9c0c0c;
}

.flipdown .rotor-bottom,
.flipdown .rotor-leaf-rear {
    color: #e41e1e;
    background-color: #1c7247;
}

.flipdown .rotor-group {
    padding-right: 1em;
}

.flipdown .rotor-group:last-child {
    padding-right: 0;
}

.flipdown .rotor {
    border-radius: 4px;
}

.flipdown {
    width: 100% !important;
    height: auto; !important;
    padding-bottom: 20px;
}

@media (max-width: 550px) {
    .flipdown {
        transform: scale(0.8);
        transform-origin: top center;
    }
}




.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
    gap: 2em;
}

.grid-item {
    display: flex;
    background-color: #f1f1f1b2;
    border-radius: 0.2em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    overflow: auto;
    max-width: 100%;
}

.grid-item:hover{
    background-color: #f2fff2; 
    border-color: #002409;
    border-width: 0.1em;
    border-style: solid;
    transform: scale(1.01);
    transition: all 0.2s ease;
}
.grid-item img {
    width: 13em;
    height: 13em;
    object-fit: cover;
}
.conference-info {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.conference-info > * {
    flex: 100%;
}

@keyframes aparicion {
    from { opacity: 0; }
    to { opacity: 1; }
}
.content.active {
    animation: aparicion 1s ease-in-out;
}

footer {
    background-color: #f5f5f5;
    padding: 2em 0;
    width: 100%;
    margin-top: 0px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    max-width: 1200px;
    margin: 0 auto;
}
.logo-box {
    background-color: white;
    border-radius: 0.2em;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 0.5em;
    transition: all 0.3s ease;
}

.logo-box img {
    max-width: 12em;
    height: auto;
}

.logo-box:hover {
    transform: scale(1.02)
}

/* Estilos para el calendario */
.ecard {
    /* flex-shrink: 0; */
    border-radius: 0px;
    padding: 0px;
    margin-right: 10%;
    grid-column: 4 / 6;
    grid-row: 1 / 4;
}

.logo-rimpac{    
    max-width: 100%;
    margin: auto;   
}
.logo-rimpac img{
    width: 100%;
}

#myCalendar {
    font-family: 'Roboto', sans-serif;
    max-width: 10em; 
}


.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    gap: 1em;
    padding: 0px;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 0.2em;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s ease;
}

.gallery-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    transition: opacity 0.2s ease;
}

.gallery-item:hover {
    transform: scale(1.01);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.gallery-item:hover img {
    transform: scale(1.1);
}

.gallery-item:hover::before {
    opacity: 1;
}

#map {
    width: 100%;
    height: 40em;
    margin-top: 6em;
    border-radius: 0.2em;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 5;
}

.all-container {
    background-color: white;
    padding: 1em;
    width: 80%;
    max-width: 800px;
    margin: auto;
}
.list-container {
    display: flex;
    justify-content: space-between;
}
.list-column {
    width: 47%;
}
.list-container ul {
    list-style-type: none;
    padding: 0;
}
.list-container li {
    background-color: #f8f8f8;
    border-left: 0.3em solid #4CAF50;
    margin-bottom: 1em;
    padding: 0.5em 1em;
    transition: all 0.2s ease;
}
.list-container li:hover {
    background-color: #e8e8e8;
    transform: translateX(0.2em);
}

h2.separador {
    font-family: 'Georgia', serif;
    font-size: 32px;
    color: #2c3e50;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    padding: 10px 0 10px 20px;
    margin-bottom: 25px;
    border-bottom: 2px solid #14283f;
    /* border-left: 5px solid #e74c3c; */
    font-weight: 600;
    /* background-color: #f9f9f9; */
    background: linear-gradient(to right, #ffffff, #f0f8ff, #ffffff);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

h2.separador::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
}

h2.separador:hover {
    transform: translateX(5px);
    color: #4a90e2;
    border-bottom-width: 3px;
    transition: transform 0.3s ease;
}




.pdf-responsive {
    position: relative;
    padding-bottom: 56.25%; /* Aspecto 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.pdf-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

@media (min-width: 768px) {
    .pdf-responsive {
        margin: 0 auto;
        max-width: 100%;
    }
}


.contenedor-pestanas {
    margin-top: 2em;
    display: flex;
    background-color: #f1f3f5;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
  }
  
  .pestana {
    padding: 10px 20px;
    background-color: #e9ecef;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .pestana:hover {
    background-color: #dee2e6;
  }
  
  .pestana-activa {
    background-color: #ffffff;
    border-bottom: 2px solid #1e88e5;
  }
  
  .contenido-pestana {
    display: none;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 0 0 8px 8px;
  }
  
  .contenido-visible {
    display: block;
  }